extends layout

block content
    h2(class='title') register page

    form(action="/register", method="POST")
        .form-group
            label(for="username") Username
            input(class="form-control" type="text", placeholder="username", name="username")
            .form-group
            label(for="name") Name
            input(class="form-control" type="text", placeholder="name", name="name")
            .form-group
            label(for="firstname") Fisrtname
            input(class="form-control" type="text", placeholder="firstname", name="firstname")
        .form-group
            label(for="date") Birthday
            input(class="form-control" type="date", placeholder="birthday", name="date")
        .form-group    
            label(for="password") Password
            input(class="form-control" type="password", placeholder="*******", name="password")
        .form-group    
            label(for="email") Email
            input(class="form-control" type="email", placeholder="email", name="email")

        input(class="btn-primary" type="submit")
